* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #28574e;
  --dark: #1e232f;
  --light: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 3rem 2rem;
  background-color: var(--primary);
  color: var(--light);
}

nav a {
  margin: 0 1rem;
  color: var(--light);
  text-decoration: none;
}

nav a:hover {
  color: var(--light);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--light);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    padding: 10px;

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    background-color: var(--primary);
    transition: 1.5s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  nav .nav-close-btn {
    margin-left: 10px;
  }

  nav a {
    font-size: 1.5rem;
  }
}
